<div id="main">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9 gabarit-menu-contenu">
                    <h1 id="titreNo1" class="d-block themeTitre">Service en ligne exemple 1</h1>
                    <div class="frame frame-default frame-type-textmedia frame-layout-0">
                        <h2 class="">Inscription au programme</h2>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="col-sm-offset-2">
                                <div class="avis">
                                    <div class="avis-icone succes"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:#4f813d;}</style></defs><g transform="translate(-140.002 -2546.001)"><path class="a" d="M152,2570a12,12,0,1,1,8.486-3.514A11.925,11.925,0,0,1,152,2570Zm0-22.737A10.737,10.737,0,1,0,162.739,2558,10.749,10.749,0,0,0,152,2547.264Z" transform="translate(0 0)"/><path class="a" d="M148.433,2561.576a.633.633,0,0,1-.448-.185l-3.8-3.778a.628.628,0,0,1,0-.89.638.638,0,0,1,.9,0l3.35,3.333,8.413-8.371a.638.638,0,0,1,.9,0,.628.628,0,0,1,0,.891l-8.862,8.815a.628.628,0,0,1-.448.185Z" transform="translate(1.037 1.463)"/></g></svg></div>
                                    <div class="avis-contenu"><p>Inscription complétée avec succès. Vous receverez une confirmation par la méthode de communication choisie.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="col-sm-offset-2">
                                <button class="btn btn-primary" name="quitter" type="button" value="Quitter" (click)="onBtnQuitterClick()">Quitter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
