<div id="main">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9 gabarit-menu-contenu">
                    <h1 id="titreNo1" class="d-block themeTitre">Service gouvernemental en ligne 1</h1>
                
                    <div class="frame frame-default frame-type-textmedia frame-layout-0">
                        <div class="ce-textpic ce-left ce-above">
                            <div class="ce-bodytext">
                                <p>Ce service vous permet de soumettre un demande au service gouvernemental 1. Vous devrez remplir les champs d'un formulaire et le transmettre. Vous receverez ensuite une réponse dans un court délais.</p>
                                <p>Pour utiliser ce service, vous aurez besoin de votre :&nbsp;</p>
                                <ul><li>Numéro d’entreprise du Québec<span class="nbsp">&nbsp;</span>(NEQ) à 10<span class="nbsp">&nbsp;</span>chiffres</li><li>Code d’accès (8<span class="nbsp">&nbsp;</span>lettres et chiffres)</li></ul>
                                <p>Si vous n'avez pas de code d’accès, bonne chance pour en obtenir un. En effet, un tel code est si secret que personne ne sait vraiment comment l'obtenir.</p>
                            </div>
                        </div>
                    </div>
                    <div class="frame frame-default frame-type-html frame-layout-0">
                        <button class="button-base primary" name="Commencer" (click)="onClick()">
                            Commencer&nbsp;
                            <svg width="18.5" height="12.98" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="droite">
                            <path d="M18.5874 6.63958L12.5874 0.63958C12.4924 0.55227 12.3674 0.504981 
                                12.2384 0.507744C12.1094 0.510507 11.9864 0.563175 11.8953 0.654473C11.8041 
                                0.74577 11.7518 0.868737 11.7492 0.997734C11.7466 1.12673 11.794 1.25174 11.8814 
                                1.34661L17.0324 6.49261H0.732422C0.599814 6.49261 0.472644 6.54532 0.378876 
                                6.63909C0.285108 6.73286 0.232422 6.86 0.232422 6.99261C0.232422 7.12522 0.285108 
                                7.25235 0.378876 7.34612C0.472644 7.43989 0.599814 7.49261 0.732422 7.49261H17.0324L11.8864 
                                12.6386C11.7927 12.7325 11.74 12.8597 11.7401 12.9924C11.7402 13.125 11.793 13.2524 11.8869 
                                13.3461C11.9808 13.4399 12.1081 13.4925 12.2408 13.4924C12.3735 13.4923 12.5007 13.4395 
                                12.5944 13.3456L18.5944 7.34563C18.6882 7.25187 18.7408 7.1247 18.7408 6.99212C18.7408 
                                6.85954 18.6882 6.73237 18.5944 6.6386L18.5874 6.63958Z" fill="currentColor"></path>
                            </svg>
                        </button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
